@use './mixins';
@use './colors';
@use './fonts';

@include colors.init();
@include fonts.init();

:global {
  body {
    margin: 0;
    &::-webkit-scrollbar {
      height: 0.5rem;
      width: 0.5rem;

      &-thumb {
        background-color: var(--c-text);
      }
    }
  }

  html {
    font-size: 16px;

    @include mixins.media(phone) {
      font-size: 14px;
    }
  }
}
