@use './colors';
@use './fonts';

@include colors.init();
@include fonts.init();

:global {
  body {
    margin: 0;
    &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;

      &-thumb {
        background-color: var(--c-text);
      }
    }
  }
}
