@use '../../../utils/styles/mixins';
@use '../../../utils/styles/units';

.clubs {
  margin-top: map-get(units.$spacing, section);
  grid-gap: map-get(units.$spacing, container);
  grid-template-columns: repeat(2, 1fr);
  list-style-type: none;
  display: grid;
  padding: 0;

  @include mixins.media(tablet) {
    grid-template-columns: 1fr;
  }
}

.club {
  @include mixins.transition(background-color);
  box-shadow: 0.5rem 0.5rem 2rem 1rem rgba(0,0,0,0.05);
  grid-gap: map-get(units.$spacing, container);
  padding: map-get(units.$spacing, container);
  background-color: var(--c-background);
  grid-template-columns: 3rem 1fr;
  border-radius: units.$radius;
  display: grid;
}

.logo {
  background-color: white;
}

.heading {
  margin-bottom: map-get(units.$spacing, element);
}

.icons {
  list-style-type: none;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding: 0;
}

.icon-link {
  @include mixins.transition(background-color color);
  margin-bottom: map-get(units.$spacing, element);
  margin-right: map-get(units.$spacing, element);
  padding: map-get(units.$spacing, tad);
  color: var(--c-primary);
  border-radius: 999px;
  display: flex;

  &:hover,
  &:focus {
    background-color: var(--c-primary-b);
    color: var(--c-primary-h);
  }

  &:active {
    background-color: var(--c-primary-b-h);
    color: var(--c-primary-a);
  }
}

.icon-asset {
  width: map-get(units.$text, larger);
  height: auto;
}
