@use '../../utils/styles/mixins';
@use '../../utils/styles/units';

.container {
  padding-top: map-get(units.$spacing, page);
  align-items: center;
  flex-wrap: wrap;
  display: flex;
}

.text {
  margin-bottom: map-get(units.$spacing, component);
  margin-right: auto;
}

.button {
  @include mixins.transition(background-color color);
  margin-bottom: map-get(units.$spacing, component);
  padding: map-get(units.$spacing, element) * 1.2
    map-get(units.$spacing, component);
  background-color: var(--c-text-b);
  color: var(--c-text-h);
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover,
  &:focus {
    background-color: var(--c-text-b-h);
    color: var(--c-text-a);
  }

  &:active {
    background-color: var(--c-text-b-a);
    color: var(--c-text-a);
  }
}
