@use '../src/utils/styles/fonts';

:global(h1.sbdocs-title) {
    font-family: fonts.$font, sans-serif;
    color: var(--c-heading);
    font-size: 2.6rem;
    line-height: 1.2;
    margin: 0;
}

:global(p.sbdocs-p) {
    font-family: fonts.$font, sans-serif;
    color: var(--c-primary);
    font-size: 1.2rem;
    line-height: 1.2;
    margin: 0;
}

:global(.sbdocs-content) {
    font-family: fonts.$font, sans-serif;
    color: var(--c-text);
    line-height: 1.8;

    & > h2 {
        color: var(--c-heading);
        line-height: 1.2;
    }

    & > h3 {
        color: var(--c-primary);
        line-height: 1.2;
    }

    & > *:not(:global(.sbdocs-preview)) {
        code {
            background-color: var(--c-primary-b);
            color: var(--c-primary);
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            font-size: 80%;
        }

        a {
            color: var(--c-primary);
        }
    }

    & > table {
        td, th {
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
        }

        th {
            text-align: left;
            padding-bottom: 0;
            color: var(--c-primary);
        }
    }
}

:global(.sbdocs-preview) {
    font-family: initial;
    line-height: initial;
    color: initial;
}
