@use '../../../utils/styles/animations';
@use '../../../utils/styles/mixins';
@use '../../../utils/styles/units';

.items {
  margin-top: map-get(units.$spacing, section);
  grid-gap: map-get(units.$spacing, component);
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style-type: none;
  display: grid;
  padding: 0;

  @include mixins.media(tablet) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.loading {
  @include animations.pulse;
}
